py-cord
asgiref
sqlparse
Django
dotenv
python-decouple
mysqlclient
celery
django-multiselectfield
django-fernet-encrypted-fields
django-admin-sortable2
django-admin-logs
django-rest-framework
drf-yasg
aiohttp
redis
django-celery-beat
subprocess-monitor
pytesseract
pillow
requests-cache
django-pydantic-field
django-celery-results
django-jsonform
python-decouple
django-solo
django-polymorphic
daphne
gspread
mido
pendulum
pytz
