py-cord
asgiref
sqlparse
Django
dotenv
python-decouple
mysqlclient
celery
django-multiselectfield
django-fernet-encrypted-fields
django-admin-sortable2
aiohttp
redis
django-celery-beat
pytesseract
pillow
requests-cache
django-pydantic-field
django-celery-results
django-jsonform
python-decouple
daphne
gspread
mido
pendulum
pytz
