<div class="livematches">
    {% for match in matches %}
        <div class="match">
            <h1>{{match.high_seed.player_ch_name}} vs {{match.low_seed.player_ch_name}}</h1>

            <table>
                <thead>
                    <tr>
                        <th>Bracket</th>
                        <th>Player 1</th>
                        <th>Player 2</th>
                        <th>Score</th>
                        <th>Player 1 Bans</th>
                        <th>Player 2 Bans</th>
                        <th>Who Picked</th>
                        <th>Song Picked</th>
                        <th>Won</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{match.bracket}}</td>
                        <td>{{match.high_seed.player_ch_name}}</td>
                        <td>{{match.low_seed.player_ch_name}}</td>
                        <td>{{match.score}}</td>
                        <td>
                            {% for ban in match.high_seed_bans %}
                                {{ban}}
                                <br>
                            {% empty %}
                                No Bans
                            {% endfor %}
                        </td>
                        <td>
                            {% for ban in match.low_seed_bans %}
                                {{ban}}
                                <br>
                            {% empty %}
                                No Bans
                            {% endfor %}
                        </td>
                        <td>
                            {% for round in match.rounds %}
                                {{round.picked}}
                                <br>
                            {% empty %}
                                No Picks
                            {% endfor %}
                        </td>
                        <td>
                            {% for round in match.rounds %}
                                {{round.chart.name}}
                                <br>
                            {% empty %}
                                No Picks
                            {% endfor %}
                        </td>
                        <td>
                            {% for round in match.rounds %}
                                {{round.winner.ch_name}}
                                <br>
                            {% empty %}
                                No Wins
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
            {{match.id}}
            <br>
        </div>
        <br>
    {% empty %}
        No Live Matches
    {% endfor %}
</div>