*{
	font-family: 'Varela';
}

body{
	background-color: #23272A;
}

nav{
	position: relative;
	border-radius: 2vh;
	background-color:rgb(88,101,242);
}
.navbar-brand img{
	width: 6vh;
}

.navbar-brand span{
	font-size: 2.5vh;
}

.nav-link span{
  font-size: 2.5vh;
}

.footer{
	background-color: rgba(0, 0, 0, 0.2);
}

.jumbotron{
	background-color: #003333;
	color: white; 
}

#Discord, #OAuth2, #About{
	padding-top: 3vh;
}

#Auth, #Auth a{
	color: white;
}

#Auth a{
	background-color: #092D1F;
	border-color: white;
	margin-top: 2vh;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

#Auth{
	text-align: center;
	align-items: center;
}

.btn-floating{
	text-align: center;
	align-items: center;
}