* {
	font-family: 'Varela';
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
	background-color: #31005b;
}

main {
    flex: 1;
}

.livematches {
    width: 100% - 3rem;
    margin: 3rem;
}

.match {
	color: white;
    width: 100%;
}

.match h1 {
	color: white;
    text-align: center;
}

.match table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.match th, td {
    border: 3px solid black;
    padding: 8px;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-matches {
	color: white;
    text-align: center;
}

.header-player1 { width: 95% / 7%; }
.header-player2 { width: 95% / 7%; }
.header-score   { width: 5%; }
.header-bans1   { width: 95% / 7%; }
.header-bans2   { width: 95% / 7%; }
.header-pickers { width: 95% / 7%; }
.header-picks   { width: 95% / 7%; }
.header-wins    { width: 95% / 7%; }